{% extends 'base.html' %}

{% block content %}

<div class="dashboard-container">

    <div class="metric-card">
        <h2>Total Eventos</h2>
        <p>{{ total_eventos }}</p>
    </div>

    <div class="metric-card">
        <h2>Total Alertas</h2>
        <p>{{ total_alertas }}</p>
    </div>

    <div class="metric-card">
        <h2>Port Scans</h2>
        <p>{{ port_scans }}</p>
    </div>

    <div class="metric-card">
        <h2>Brute Force</h2>
        <p>{{ brute_force }}</p>
    </div>

</div>

<div class="chart-container">

    <div class="chart-card">
        <h2>Tipos de Alertas</h2>

        <canvas id="alertsChart"></canvas>
    </div>

</div>

<script>

const ctx = document.getElementById('alertsChart');

new Chart(ctx, {
    type: 'pie',

    data: {
        labels: ['Port Scan', 'Brute Force'],
        datasets: [{
            data: [{{ port_scans }}, {{ brute_force }}]
        }]
    }
});

</script>

{% endblock %}